@{
    ViewBag.Title = "Team Manager Home";
}

<div class="jumbotron">
    <h1>Team Manager</h1>
    <p class="lead">Welcome to the team manager app!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Player Registration</h2>
        <p>
            If you are not in the current database, or are a new player, click on the link below to sign up as a player!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coach Registration</h2>
        <p>Coach's have the ability to create events such as Team Practice, Tournaments, Team Meetings, and Team dinners. Register as a coach below.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>    